---
layout: default
nav: datenschutz
title: Datenschutz
description: "Datenschutzerklärung gemäß DSGVO für sandro.exemail.at."
---

{% assign p = site.data.socials.profile %}

<div class="container container--narrow">
  <div style="margin-bottom:18px;">
    <a href="/index.html" class="back-link">{% include icon.html name="arrow" %} {% include t.html key="ui.back_home" %}</a>
  </div>

  <article class="card prose reveal">
    {% include t.html key="ds.title" tag="h1" %}

    {% include t.html key="ds.h1" tag="h2" %}
    {% include t.html key="ds.p1" tag="p" %}

    {% include t.html key="ds.h2" tag="h2" %}
    {% include t.html key="ds.p2" tag="p" %}
    <p><a href="https://docs.github.com/en/site-policy/privacy-policies/github-privacy-statement" target="_blank" rel="noopener">GitHub Privacy Statement ↗</a></p>

    {% include t.html key="ds.h3" tag="h2" %}
    {% include t.html key="ds.p3" tag="p" %}

    {% include t.html key="ds.h4" tag="h2" %}
    {% include t.html key="ds.p4" tag="p" %}

    {% include t.html key="ds.h5" tag="h2" %}
    {% include t.html key="ds.p5" tag="p" %}

    {% include t.html key="ds.h6" tag="h2" %}
    {% include t.html key="ds.p6" tag="p" %}

    <div class="prose__foot">
      <strong>{% include t.html key="ds.responsible" mode="raw" %}</strong> {{ p.name }}<br>
      E-Mail: <a href="mailto:{{ p.email }}">{{ p.email }}</a>
    </div>
  </article>
</div>
