{%- comment -%}
  Liste der Betroffenenrechte nach DSGVO – verwendet in der
  Datenschutzerklärung und im Social-Media-Impressum.
{%- endcomment -%}
<ul>
  <li>Recht auf <strong>Auskunft</strong> (Art.&nbsp;15 DSGVO)</li>
  <li>Recht auf <strong>Berichtigung</strong> (Art.&nbsp;16 DSGVO)</li>
  <li>Recht auf <strong>Löschung</strong> (Art.&nbsp;17 DSGVO)</li>
  <li>Recht auf <strong>Einschränkung der Verarbeitung</strong> (Art.&nbsp;18 DSGVO)</li>
  <li>Recht auf <strong>Datenübertragbarkeit</strong> (Art.&nbsp;20 DSGVO)</li>
  <li>Recht auf <strong>Widerspruch</strong> gegen Verarbeitungen, die auf Art.&nbsp;6 Abs.&nbsp;1 lit.&nbsp;f DSGVO beruhen (Art.&nbsp;21 DSGVO)</li>
</ul>
